/.agents
/local-cloud-infrastructure/node_modules
local-cloud-infrastructure/.env
/.agents
/.agents
/local-cloud-infrastructure/release

local-cloud-infrastructure/DESIGN.md
/local-cloud-infrastructure/dist
local-cloud-infrastructure/PRODUCT.md
